/* auth.module.css */
.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
  position: relative;
  margin: 20px;

}

.ball {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #8e0f8f, #5d0b6c, #2b0638 70%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 2px 4px 15px rgba(101, 21, 78, 0.6), /* Color más cercano al azul oscuro */
  0 5px 10px rgba(244, 244, 244, 0.2); /* Sombra externa mucho más leve */
  /* overflow: hidden; */
  z-index: -1;
}

.ball::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 26% 35%, rgba(159, 42, 186, 1), rgba(245, 171, 228, 0) 38%),
              radial-gradient(circle at 54% 17%, rgba(159, 42, 186, 1), rgba(245, 171, 228, 0) 21%),
              radial-gradient(circle at 37% 23%, rgb(225, 192, 236), rgba(245, 171, 228, 0) 28%),
              radial-gradient(circle at 49% 81%, rgba(159, 42, 186, 1), rgba(235, 172, 220, 0) 15%),
              radial-gradient(circle at 84% 62%, rgba(159, 42, 186, 1), rgba(235, 172, 220, 0) 13%),
              radial-gradient(circle at 68% 75%, rgb(213, 156, 232), rgba(235, 172, 220, 0) 21%);
  background-blend-mode: overlay;
  filter: blur(31px); /* Aumenta el desenfoque para un brillo más suave */
  z-index: -1; /* Asegura que el contenido quede detrás de otros elementos */
}

.ball::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 50%;
  width: 200%;
  height: 50%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 60%);
  transform: translateX(-50%) rotateX(90deg);
  z-index: -1; /* Asegura que la sombra quede debajo del contenido */
}

