.textContent {
  /* Ocupa todo el ancho del contenedor */
   word-break: break-word; /* Rompe palabras largas */
   hyphens: auto; /* Permite la división de palabras largas */
   overflow-wrap: break-word; /* Asegura que las palabras largas se dividan */
   text-align: center; /* Centra el texto */
 }